# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.venv-1/
venv/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Build artifacts
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
